[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"

[packages]
pymongo = "*"
dnspython = "*"
python-dotenv = {extras = ["cli"],version = "*"}

[requires]
python_version = "3.7"
