body { 
	font-family: "Verdana", sans-serif; 
	font-variant: small-caps;
	background: rgb(38,48,66);
	margin: 0px;
}
article { /* Main body content, sans footer */
	background: rgb(250,247,241);
}
header {
	text-align: center;
	font-size: 1.2em;
	margin: 0px auto 0px auto;
	color: rgb(241, 240, 234);
}
header section { /* Pad all header sections */
}
header section footer { /* Motto text container */
	font-size: small;
	color: #fff;
}
header section:first-child { /* First header section */
	background: rgb(38,48,66);
	font-size: 1.5em;
	padding: 20px;
	/*border-top: 5px solid #BE4A52;*/
	border-bottom: 5px solid #BE4A52;
}
header section nav { /* Links */
	text-align: left;
	font-size: smaller;
	margin-bottom: -2em;
}
header section nav a { /* A single link */
	background: #CCB19A;
	color: #333333;
	padding: 1ex 4em;
	display: inline-block;
	min-width: 4em;
	font-weight: bold;
	text-decoration: none;
}
header section nav a:not(#emergencies) {
	display: none;
}
#emergencies {
	padding: 1ex 1em;
	color: rgb(241, 240, 234);
	background: none;
}
#emergencies.active > .open { display: inline }
#emergencies > .open, #emergencies.active > .closed {
	display: none;
}
header section nav a.current { /* Current page */
	background: #263042;
	color: #fff;
}
#chartdiv { /* Map container */
	width: 100%;
	height: 600px;
	margin: auto;
	text-align: center;
	margin-bottom: 18px;
	border-bottom: 1px solid #333;
	float: right;
}
#chartshadow { /* Map shadow for notifications */
	width: 100%;
	margin: auto;
	text-align: center;
	position: relative;
	top: -300px;
	background: rgba(100,100,100,0.6);
	display: none;
	font-size: 1.3em;
}
#chartshadow div { 
	padding: 2em;
	color: #000;
}
#chartshadow.completed {
	background: rgba(100,100,100,0.0);
	transition: all 2s ease;	
}
#chartshadow.completed div {
	color: rgba(0,0,0,0.0);
	transition: all 2s ease;
}
aside {
	width: 20%;
	height: 600px;
	background: rgb(241, 240, 234);
	position: relative;
	margin-left: -25%;
	display: inline-block;
	transition: margin 1s;
	overflow: scroll;
}
aside header {
	font-size: larger;
	padding-top: 1em;
	color: #BE4A52;
	padding-bottom: 1ex;
	width: 90%;
	border-bottom: 1px solid #BE4A52;
}
aside.active {
	margin-left: 0;
}
aside.active + #chartdiv {
	width: 80%;
	float: right;
}
aside #listdiv {
	width: 90%;
	word-break: break-word;
	font-variant: none;
}
#listdiv ul {
	list-style-type: none;
	padding: 1em;
}
#listdiv .sub-list {
	margin: 1em auto 1em;
}
.sub-list li {
	margin: 1ex auto;
}
.sub-list {
	border-bottom: 1px solid rgba(200,200,200,0.5);
}
#city, #output, #search, h1 { /* Form controls */
	margin: auto;
	display: block;
}
h1 { text-align: center; font-family: "Georgia", serif }
#city {
	padding: 8px;
	font-size: 1.2em;
	margin-bottom: 18px;
	width: 33%;
}
#search {
	font-size: 1.1em;
	margin-bottom: 18px;
}
#output {
	font-size: 1.4em;
	width: 50%;
	text-align: center
}
.message {
	display: inline-block;
	font-size: 2em;
}
article + footer { /* The main page footer */
	text-align: center;
	font-size: 1.2em;
	margin: 0px auto 20px auto;
	color: rgb(241, 240, 234);
	background: rgb(38,48,66);
	padding: 1em;
}
