body { 
	font-family: "Verdana", sans-serif; 
	font-variant: small-caps;
	background: #333;
}
article { 
	background: rgb(250,247,241);
}
svg {
	background: rgb(241,240,234);
}
header {
	text-align: center;
	font-size: 1.2em;
	margin: 0px auto 20px auto;
	color: rgb(241, 240, 234);
}
header section {
	padding: 20px;
}
header section:first-child {
	background: rgb(38,48,66)
}
header section:last-child {
	background: #BE4A52;
}
header section nav {
	width: 50%;
	margin: auto;
	padding: 1em;
}
header section nav a {
	background: #CCB19A;
	color: #333333;
	padding: 1ex 4em;
	display: inline-block;
	min-width: 4em;
	font-weight: bold;
	text-decoration: none;
}
header section nav a.current {
	background: #263042;
	color: #fff;
}
#chartdiv {
	width: 100%;
	height: 600px;
	margin: auto;
	text-align: center;
	margin-bottom: 18px;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}
#city, #output, #search, h1 {
	margin: auto;
	display: block;
}
h1 { text-align: center; font-family: "Georgia", serif }
#city {
	padding: 8px;
	font-size: 1.2em;
	margin-bottom: 18px;
	width: 33%;
}
#search {
	font-size: 1.1em;
	margin-bottom: 18px;
}
#output {
	font-size: 1.4em;
	width: 50%;
	text-align: center
}
.message {
	display: inline-block;
	font-size: 2em;
}
footer {
	text-align: center;
	font-size: 1.2em;
	margin: 0px auto 20px auto;
	color: rgb(241, 240, 234);
	background: rgb(38,48,66);
	padding: 1em;
}
